<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <title>List des conges</title>
</head>
<body>

<div layout:fragment="content">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">List des conges</li>
                    </ol>
                </div>
                <h4 class="page-title">Liste des congés</h4></div>
            <!--end page-title-box-->
        </div>
        <!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <a th:if="${id !=  1}"  th:href="@{'/admin/conges/1'}" class="btn btn-primary"> Congés Acceptés</a>
                            <a th:if="${id !=  2}" th:href="@{'/admin/conges/2'}" class="btn btn-primary"> Congés Refusés</a>
                            <a th:if="${id !=  0}" th:href="@{'/admin/conges/0'}" class="btn btn-primary"> Congés En attente</a>

                        </div>
                        <div class="col-sm-12">
                            <table class="table table-bordered dt-responsive nowrap dataTable no-footer" style="border-collapse: collapse; border-spacing: 0; width: 100%;" role="grid" aria-describedby="datatable_info">
                                <thead>
                                <tr role="row">
                                    <th >#</th>
                                    <th >Employe</th>
                                    <th >Date debut </th>
                                    <th >Date fin</th>
                                    <th >Durée</th>
                                    <th >Type</th>
                                    <th >State</th>
                                    <th >Accepter/Refuser</th>
                                </tr>
                                </thead>
                                <tbody id="stagairesTable" >
                                <tr role="row" class="odd" th:each="conge: ${conges}">
                                    <td th:text="${conge.getId()}" />
                                    <td th:text="${conge.getUser().getName() + ' ' + conge.getUser().getLastName() }" />
                                    <td th:text="${conge.getDate_debut()}" />
                                    <td th:text="${conge.getDate_fin()}" />
                                    <td th:text="${conge.getDiff()}" />
                                    <td th:text="${names[conge.getType()]}" />
                                    <td th:switch="${conge.getState()}">
                                        <span th:case="'0'">En Attente</span>
                                        <span th:case="'1'"> Confirmé </span>
                                        <span th:case="*"> Rejeté </span>
                                    </td>
                                    <td th:if="${conge.getState() == 0}">
                                        <a th:href="@{'/admin/conges/changestate/'+ ${conge.getId()} + '/state/1'}"><i class="fa fa-check text-info mr-1"></i></a>
                                        <a th:href="@{'/admin/conges/changestate/' + ${conge.getId()} +'/state/2'}"><i class="fa fa-times text-info mr-1"></i></a>

                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
<!-- end row -->
</div>

</body>
</html>